<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/madlibs">
    What is your name?  
        <label for="person"></label>
        <input type="text" name="person" id="person">
    <p></p>
    Choose a color:
    <label for="color"></label>
    <input type="text" name="color" id="color">
    <p></p>
    Choose a noun:
    <!-- object, thing, or place -->
    <label for="noun"></label>
    <input type="text" name="noun" id="noun">
    <p></p>
    Choose an adjective:
    <label for="adjective"></label>
    <input type="text" name="adjective" id="adjetive">
    <p></p>
    <input type="submit">
    </form>
</body>
</html>